<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Planets</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Universe Boss</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about"> About UniverseBoss&copy;</a></li>
    </ul>
  </header>
  

    <% if logged_in? %>

    Logged in as <%= current_user.email %>
    <form action="/session" method="post">
      <input type="hidden" name= "_method" value = "delete">
      <button>Logout </button>

    </form>
   
    <%end%>

  <%= yield %>

</body>
</html>