<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Planets</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <h1>Universe Boss</h1>
    <ul>
      <li><a href="/">Home</a></li>
  </header>
  
  <main>
    <% if logged_in? %>

    Logged in as <%= current_user.email %>
    <form action="/session" method="post">
      <input type="hidden" name= "_method" value = "delete">
      <button>Logout </button>

    </form>
   
    <%end%>
</main>
  <%= yield %>

</body>
</html>