<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Planets</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <ul>
    <li><a href="/">Home</a></li>
  </header>

  <%= yield %>

</body>
</html>