
<h1>Create a new planet!</h1>

<div><p>
<form action='/planets' method="post"> 
    <label for=""> Name of new planet:</label>
         <br>
        <input type = "text" name="name">
        <br>
    <label for=""> image URL</label>
        <br>
        <input type = "text" name="img_url">
        <br>
    <button> Create </button>
</form>
</p>
</div>