<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies Database</title>

</head>
<body>

  <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <h1> The Movies Database</h1>
   

    
  
    <% if @results == nil %>
      
       <h2> Movie Not Found </h2>
      
    <% else %>
    
      <% @results.each do |movie| %>
        <ul>
          <li><p> <a href="/movie/<%= movie['imdbID'] %>">
                  <%= movie['Title'] %>
              </a>
              </p>
          </li>
          </ul>
      <% end %>
    <% end %>


 
    
    
  


</body>
</html>
