<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies Database</title>
</head>
<body>

  <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <h1>The Movies Database</h1>
    <h2><%= @result['Title'] %></h2>
    

    <div class='movie details'>
      
        <img src="<%= @result['Poster'] %>">
    
      
      <p class='info'> MOVIE DETAILS: <br>
      <br>
        Actors: <br> <%= @result['Actors'] %> <br>
        Year released: <br> <%= @result['Year'] %> <br>
    
      </p> 
    </div>


</body>
</html>