</head>
<body>

  <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    
    <h1>The Movies Database</h1>
    <h2><%= @movie_found['title'] %></h2>
    
    
    
      
    


    <div class='movie details'>
     
        <img src="<%= @movie_found['image_url'] %>">
    
      
      <p class='info'> MOVIE DETAILS: <br>
      <br>
        Actors:<br> <%= @movie_found['actors'] %> <br>
        Year released: <br> <%= @movie_found['year_released'] %> <br>
      </p> 
    </div>

</body>
</html>