<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stock Prices</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Raleway" rel="stylesheet">
  </head>
  <body>
  <div class="opacity">
  <header>
      <nav>
      <ul>
        <li><a href='/home'> Home </a> </li>
        <li><a href='/about'> About </a> </li>
      </ul>
    </nav>

    <h1> Stock Performance </h1>
    
  </header>

  <form action="/stocksearch" method="get">
  <input name="stockcode" type="text" placeholder="enter your stockcode - abc"> 
  <button> Go </button>
  <p> Real-time check of your stock price!</p>
    </form>
  </div>
    
  </body>
</html>