<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Current Price of your stock</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="opacity">
        <nav>
        <ul>
          <li><a href='/home'> Home </a> </li>
          <li><a href='/about'> About </a> </li>
        </ul>
      </nav>
    <h1><% if @price %> 
        <%= params["stockcode"] %> price: USD $<%= @price.latest_price %> 
        <% else %>
        <div> "Stock does not exist"</div>
        <% end %>
    </h1>


  </body>
</html>
