<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emergency Compliment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body>
    <h1> Emergency Compliment </h1>
    <form action="/compliment" method="get">
        <button>Quick! here's a compliment..</button>
    </form>
    <script src="index.js"></script>
</body>
</html>