<form action="/planets/<%= @planet.id %>" method = "post">
    <input type="hidden" name="_method" value = "put"></input>
    <input type ="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>

    <input type="text" name="name" value="<%= @planet.name %>"></input>
    <input type="text" name="url" value="<%= @planet.url%>"> </input>
     <button> Update planet </button> 

</form>