<h1><%= @planet.name %></h1>

<form action="/planets/<%= @planet.id %>" method="post">
<input type ="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> </input>
<input type="hidden" name="_method" value="delete" id=""></input>
<button> Delete </button>

</form>
<form action="/planets/<%= @planet.id %>/edit" method="put">
<button>Edit</button> 
</form> 

